# EDA

In [13]:
import numpy as np
import pandas as pd
import seaborn as sn
from typing import List

In [7]:
data = pd.read_csv('UkraineCombinedTweetsDeduped_FEB28_part2.csv')

## Overview

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140384 entries, 0 to 140383
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      140384 non-null  int64
 1   userid          140384 non-null  int64
 2   username        140384 non-null  object
 3   acctdesc        109937 non-null  object
 4   location        82584 non-null   object
 5   following       140384 non-null  int64
 6   followers       140384 non-null  int64
 7   totaltweets     140384 non-null  int64
 8   usercreatedts   140384 non-null  object
 9   tweetid         140384 non-null  int64
 10  tweetcreatedts  140384 non-null  object
 11  retweetcount    140384 non-null  int64
 12  text            140384 non-null  object
 13  hashtags        140384 non-null  object
 14  language        140384 non-null  object
 15  coordinates     12 non-null      object
 16  favorite_count  140384 non-null  int64
 17  extractedts     140384 non-null  object
dtypes: int64(8), object(10)
memory usage: 19.3+ MB

In [9]:
data.head()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,0,802649176299466752,Emolclause,#TheResistance #ExpandTheCourt #EndTheFilibust...,NaN,91906,113262,91222,2016-11-26 23:04:10.000000,1498318245404762119,2022-02-28 15:24:41,2,"Very noteworthy however, that even he, Kremlin...","[{'text': 'Putin', 'indices': [82, 88]}]",en,NaN,0,2022-02-28 15:29:46.899785
1,1,1431975141769158656,hipsterl0s,Fotografie üì∏ // FaMI üìö // VfB & SCF // üö≤,üóÉ Stuttgart,998,481,10417,2021-08-29 13:41:15.000000,1498318245446696966,2022-02-28 15:24:41,4,#Putin rechtfertigt sich nun mit riesigen Bann...,"[{'text': 'Putin', 'indices': [17, 23]}]",de,NaN,0,2022-02-28 15:29:46.883408
2,2,1080237006360379392,shobshosuka,NaN,NaN,98,66,3372,2019-01-01 22:59:06.000000,1498318245710995457,2022-02-28 15:24:41,1,I ask all my fellow #PS4 #PS5 users to support...,"[{'text': 'PS4', 'indices': [36, 40]}, {'text'...",en,NaN,0,2022-02-28 15:29:46.867193
3,3,2398480578,IngmarStadelman,‚ÄûMeister des b√∂sen Wortes!‚Äú üêºüé§Stand-up Comedia...,Berlin,1040,25774,38334,2014-03-19 21:35:08.000000,1498318246717579265,2022-02-28 15:24:42,0,Was der Komplettversager #Putin auch wieder be...,"[{'text': 'Putin', 'indices': [25, 31]}]",de,NaN,16,2022-02-28 15:29:46.850980
4,4,1432304384826806273,Samr44412775,NaN,NaN,213,310,18761,2021-08-30 11:29:28.000000,1498318248118468612,2022-02-28 15:24:42,11,ÿØÿ®ÿßÿ®ÿßÿ™ ÿ±Ÿàÿ≥Ÿäÿ© ŸÖŸÜ ÿ∑ÿ±ÿßÿ≤ T-72B ÿ™ŸÇÿµŸÅ ŸÇŸàÿßÿ™ ÿßŸÑÿ£ŸÖŸÜ ŸÅŸä ...,"[{'text': 'Russia', 'indices': [93, 100]}, {'t...",ar,NaN,0,2022-02-28 15:29:46.842861

In [11]:
data.describe()

,Unnamed: 0,userid,following,followers,totaltweets,tweetid,retweetcount,favorite_count
count,140384.000000,1.403840e+05,140384.00000,1.403840e+05,1.403840e+05,1.403840e+05,140384.000000,140384.000000
mean,70191.500000,6.269730e+17,1600.30631,1.079349e+04,4.814267e+04,1.498380e+18,863.688212,0.117912
std,40525.514432,6.330985e+17,5561.24806,2.448059e+05,1.167255e+05,3.487850e+13,5353.856765,3.471756
min,0.000000,2.210000e+02,0.00000,0.000000e+00,1.000000e+00,1.498318e+18,0.000000,0.000000
25%,35095.750000,4.841600e+08,144.00000,5.800000e+01,1.467000e+03,1.498349e+18,1.000000,0.000000
50%,70191.500000,7.412214e+17,513.00000,3.140000e+02,9.922000e+03,1.498380e+18,24.000000,0.000000
75%,105287.250000,1.283770e+18,1559.00000,1.328000e+03,4.369750e+04,1.498410e+18,273.000000,0.000000
max,140383.000000,1.498439e+18,452284.00000,2.454344e+07,4.016404e+06,1.498441e+18,145320.000000,1034.000000

In [14]:
def check_missing_value(df:pd.DataFrame, cols:List[str]) -> pd.DataFrame:
    """
    Count missing values in specified columns.
    @param df: dataframe
    @param cols: columns to be calculated
    return: summary information
    """
    res = pd.DataFrame(cols, columns=['Feature'])
    na_cnts = [sum(df[col].isna()) for col in cols]
    res['NA Count'] = na_cnts
    res['NA Rate'] = res['NA Count'] / df.shape[0]
    res = res[res['NA Count'] != 0]
    res = res.sort_values(by='NA Count', ascending=False).reset_index(drop=True)
    return res

In [17]:
def check_zeros(df:pd.DataFrame, cols:List[str]) -> pd.DataFrame:
    """
    Count specified values in specified columns.
    @param df: dataframe
    @param cols: columns to be calculated
    return: summary information
    """
    res = pd.DataFrame(cols, columns=['Feature'])
    na_cnts = [sum(df[col] == 0) for col in cols]
    res['Value Count'] = na_cnts
    res['Rate'] = res['Value Count'] / df.shape[0]
    res = res[res['Value Count'] != 0]
    res = res.sort_values(by='Value Count', ascending=False).reset_index(drop=True)
    return res

In [15]:
# only these three columns have missing values
# luckily they are not too important for our model building, so we can abandon these columns
check_missing_value(data, data.columns)

       Feature  NA Count   NA Rate
0  coordinates    140372  0.999915
1     location     57800  0.411728
2     acctdesc     30447  0.216884

In [18]:
# most tweets do not get likes
check_zeros(data, data.columns)

          Feature  Value Count      Rate
0  favorite_count       134977  0.961484
1    retweetcount        30684  0.218572
2       followers         4761  0.033914
3       following         1411  0.010051
4      Unnamed: 0            1  0.000007

# Data Cleaning

In [ ]:
from nltk import stem
import re
import nltk
import emoji
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
nltk.download('punkt')
nltk.download('stopwords')

def give_emoji_free_text(text):
    """
    Removes emoji's from tweets
    Accepts:
        Text (tweets)
    Returns:
        Text (emoji free tweets)
    """
    emoji_list = [c for c in text if c in emoji.UNICODE_EMOJI]
    clean_text = ' '.join([str for str in text.split() if not any(i in str for i in emoji_list)])
    return clean_text

def clean_message(message):
    '''
    Input:
        message: a string containing a message.
    Output:
        messages_cleaned: a list of words containing the processed message. 

    '''
    # remove emoji
    message = give_emoji_free_text(message)
    # remove links
    message = re.sub(r'^https?:\/\/.*[\r\n]*', '', message, flags=re.MULTILINE)
    # remove punctuations
    message = re.sub(r'[^\w\s]', '', message)
    # remove stopwords
    text_tokens = word_tokenize(message)
    messages_no_stopwords = [word for word in text_tokens if not word in stopwords.words()]
    # stemming
    ps = PorterStemmer()
    messages_cleaned = []
    for word in messages_no_stopwords:
        messages_cleaned.append(ps.stem(word))
        
    return ' '.join(messages_cleaned)